/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* Styles pour les grands écrans (ordinateurs de bureau) */
@media screen and (min-width: 1024px) {
    header {
        padding: 0 5%;
        height: 70px;
    }
    .menu li {
        margin: 0 2rem;
    }
    #home h2 {
        font-size: 5rem;
    }
    #home h4 {
        font-size: 6rem;
    }
}

/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 0 4%;
        height: 65px;
    }
    .menu li {
        margin: 0 1rem;
    }
    #home h2 {
        font-size: 4rem;
    }
    #home h4 {
        font-size: 5rem;
    }
    .find_trip {
        width: 90%;
    }
}

/* Styles pour les téléphones portables */
@media screen and (max-width: 767px) {
    html {
        font-size: 50%; /* Réduit la taille globale pour les petits écrans */
    }
    header {
        padding: 0 2%;
        height: 60px;
    }
    .menu {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .responsive-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #home {
        height: 90vh;
        padding: 2rem;
    }
    #home h2, #home h4 {
        font-size: 3rem;
    }
    #home p {
        font-size: 1.4rem;
    }
    .find_trip {
        width: 100%;
    }
    .find_trip form div {
        width: 100%;
    }
    .find_trip form input[type="submit"] {
        width: 100%;
    }
    #popular-destination .content {
        grid-template-columns: 1fr;
    }
    .modal-content {
        width: 90%;
    }
}
